{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
        <h3>Sequence Length Statistics</h3>
        <p>
            <a class="btn btn-default" href="descriptive_stats.tsv" target="_blank" rel="noopener noreferrer">
            Download sequence-length statistics as a TSV
            </a>
        </p>
        <table class="table table-striped" id="stats_table">
            <thead>
            <tr>
                <th>Sequence Count</th>
                <th>Min Length</th>
                <th>Max Length</th>
                <th>Mean Length</th>
                <th>Range</th>
                <th>Standard Deviation</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ stats.count }}</td>
                <td>{{ stats.min | int }}</td>
                <td>{{ stats.max | int }}</td>
                <td>{{ stats.mean | round(2, 'common') }}</td>
                <td>{{ stats.range | int }}</td>
                <td>{{ stats.std | round(2, 'common') }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
      <h3>Seven-Number Summary of Sequence Lengths</h3>
      <p>
        <a class="btn btn-default" href="seven_number_summary.tsv" target="_blank" rel="noopener noreferrer">
          Download seven-number summary as a TSV
        </a>
      </p>
      <table class="table table-striped" id="summary_table">
        <thead>
          <tr>
            <th>Percentile:</th>
            {% for percentile in stats.seven_num_summ_percentiles %}
            <th>{{ (percentile*100) | int }}%</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
          <td>Length* (nts):</td>
          {% for value in stats.seven_num_summ_values %}
            <td>{{ value | int }}</td>
          {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-12">
      <table id="table" class="table table-hover table-striped table-bordered"></table>
      <div id="loading" class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" type="text/css" href="./css/datatables.min.css"/>
  <style>
    table.table.dataTable.table-striped > tbody > tr:nth-of-type(2n+1) > * {
      box-shadow: inset 0 0 0 9999px #F9F9F9;
    }
    table.table.dataTable.table-hover > tbody > tr:hover > * {
      box-shadow: inset 0 0 0 9999px #E8F1F8;
    }
  </style>
  <script type="text/javascript" src="./js/datatables.min.js"></script>

  {% set loading_selector = '#loading' %}
  {% include 'js-error-handler.html' %}
  <script id="data" type="application/json">{{ table }}</script>
  <script type="text/javascript">
    $(document).ready(function(){
      var loading = $('#loading');
      var helpMsg = 'You can download the normalized TSV above and load in \
                     an external application such as Microsoft Excel or \
                     Google Sheets. The metadata file can also be used \
                     anywhere metadata is accepted in QIIME 2.';
      // Don't let the default error handler pick this error up,
      // since we want to supply our own error message.
      try {
        var data = JSON.parse(document.getElementById('data').innerHTML);
      } catch(error) {
        // From include 'js-error-handler.html'
        handleErrors([error], loading, helpMsg);
      }

      // Manually set the directive label
      data.columns[0][1] = '#q2:types';

      // Construct initial table header
      var table = $('#table'), head = $('<thead></thead>'), row = $('<tr></tr>');
      table.append(head), head.append(row);
      $.each(data.columns, function(i, val) {
        row.append(function() {
          var cell = '<th>' + val[0] + '<br>';
          if (i === 0) {
            cell += '<span class="label label-default">' + val[1]  + '</span>';
          } else {
            var type = val[1] === 'numeric' ? 'primary' : 'success';
            cell += '<span class="label label-' + type + '">' + val[1] +'</span>';
          }
          cell += '</th>';
          return cell;
        });
      });

      var sequenceColumn = data.columns.findIndex(col => col[0] === 'Sequence')
      var urlColumn = data.columns.findIndex(col => col[0] === 'Blast url')
      var columnDefs = []
      if (sequenceColumn != -1 && urlColumn != -1){
        columnDefs.push({
          targets: sequenceColumn,
          render: function(value, type, row, meta){
            var link = row[urlColumn]
            if (type === 'display' && typeof link === 'string' && link.startsWith('http')) {
              return '<a href="'+ link + '" target="_blank" rel="noopener noreferrer">' + value + '</a>'
            }
            return value
          }
        })
      }

      columnDefs.push({targets: urlColumn, visible:false})


      table
        .on('init.dt', function() {
          loading.remove();
          console.log('Successfully loaded table!');
        })
        .DataTable({
          data: data.data,
          fixedHeader: true,
          orderMulti: true,
          pageLength: {{ page_size }},
          layout: {
            topStart: null,
            topEnd: 'search',
            bottomStart: 'info',
            bottomEnd: 'paging'
          },
          columnControl: {
            target: 1,
            content: ['search']
          },
          columnDefs: columnDefs
        });
    });
  </script>
{% endblock %}

{% block head %}
<style>
/* SPINKIT */

/*
The MIT License (MIT)

Copyright (c) 2015-2020 Tobias Ahlin

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
</style>
{% endblock %}
