{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h1>Table summary</h1>

      <div class="row">
        <div class="col-lg-6">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Metric</th>
                <th>Sample</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Number of samples</th>
                <td>{{ number_of_samples }}</td>
              </tr>
              <tr>
                <th scope="row">Number of features</th>
                <td>{{ number_of_features }}</td>
              </tr>
              <tr>
                <th scope="row">Total counts</th>
                <td>{{ total_counts }}</td>
              </tr>
            </tbody>
          </table>
          <p>
            An even sampling (i.e., rarefaction) depth of {{ max_frequency_even_sampling_depth }}
            will retain the largest number of sequences.
          </p>
        </div>
      </div>

      <h1>Count per sample summary</h1>

      <div class="row">
        <div class="col-lg-6">
          {{ sample_summary_table }}
        </div>
        <div class="col-lg-6">
          <img src="sample-counts.png" width="700" height="500" class="center-block">
          <p class="text-center">
            Image source (<a href="sample-counts.png">png</a> |
            <a href="sample-counts.pdf">pdf</a>)
          </p>
          <p class="text-center">
            Counts per sample detail (<a href="sample-count-detail.csv">csv</a> |
            <a href="sample-count-detail.html">html</a>)
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h1>Count per feature summary</h1>

          {{ feature_summary_table }}
        </div>
        <div class="col-md-6">
          <h1>Count per feature detail</h1>
          <p>
            <img src="feature-counts.png" width="700" height="500" class="center-block">
            <p class="text-center">
              Image source (<a href="feature-counts.png">png</a> |
              <a href="feature-counts.pdf">pdf</a>)
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
