{% extends "tabbed.html" %} {% block head %}
<script src="js/vega.min.js"></script>
<script src="js/vega-embed.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/spinkit.css" /> {% endblock %}
{% block tabcontent %}

<!-- template it in using jinja -->
{% if vega_spec is defined %}
<div class="row">
  <div class="col-lg-8">
    <h3>Some Title</h3>

    <div id="plot">
      <div id="loading" class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12"><h3>Plot Controls</h3></div>
    </div>

    <div class="row"><div class="col-lg-12" id="toolbar"></div></div>

    <div class="row">
      <div class="col-lg-12" id="metadata-category">Metadata Category</div>
    </div>

    <div class="row">
      <div class="col-lg-12" id="sampling-depth-slider"></div>
      </div>


      <div class="row">
        <div class="col-lg-12" id="text_field">To be updated text!</div>
      </div>

      <div class="row">
        <div class="col-lg-12" id="rotate-labels">rotate labels</div>
      </div>

    </div>


  </div>
  {% endif %}

  <div class="row">
    <div class="col-lg-8">
  <table id="feature_table" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Sample ID</th>
        <th scope="col">Feature Count</th>
      </tr>
    </thead>
    <tbody id='table-body'>
    </tbody>
  </table>

  </div>
  </div>



<script id="table-data" type="application/json">
  {{ sample_frequencies_json }}
</script>

<script type="text/javascript">

  var table_data = JSON.parse(document.getElementById('table-data').innerHTML);
  // get object keys and store them in an ascending order based on the key value
  sorted_samples = Object.keys(table_data).sort(function(a,b){return table_data[a]-table_data[b]})

  var table_body = document.getElementById('table-body');
  sorted_samples.forEach(function(element) {
    var row = table_body.insertRow(0);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    cell1.innerHTML = element;
    cell2.innerHTML = table_data[element];
});


</script>

<script>

function updateFeatureTable(val){
  // TODO
}

</script>

<script>
function updateRangeSliderValue(val){
  var slider = document.getElementById('rangeSlider');
  slider.value = val;
  slider.dispatchEvent(new Event('change'));
}

function updateSliderNum(val){
  var num = document.getElementById('sliderNum');
  num.value = val;

}
</script>

{% endblock %}

{% block footer %}

{% include 'js-error-handler.html' %}
<script id="spec" type="application/json">
  {{ vega_spec }}
</script>
<script type="text/javascript">
  $(document).ready(function() {
    var spec = JSON.parse(document.getElementById("spec").innerHTML);

    // Try and come up with a good initial estimate of plot dimensions,
    // based on the browser dimensions.
    var opts = {
      width: $("#plot").width(),
      height: $("#plot").width() / 2
    };

    vegaEmbed("#plot", spec, opts)
      .then(function(result) {
        result.view.logLevel(vega.Warn);
        // Stash the view object in global namespace for debugging purposes.
        // Check out https://vega.github.io/vega/docs/api/debugging/
        // for more details.
        window.v = result.view;
      })
      .catch(function(error) {
        // From 'js-error-handler.html'
        handleErrors([error], $("#plot"));
      });

    // Clean up the vega-embed toolbar
    var toolbar = $("div .vega-actions").detach();
    toolbar.addClass("btn-group");
    toolbar.children("a").each(function() {
      $(this).addClass("btn btn-default");
    });

    toolbar.appendTo("#toolbar");

    var category = $("#metadata-category .vega-bind");
    category
      .children(".vega-bind-name")
      .replaceWith("<label> Metadata Category &nbsp;</label>");
    category.children("select").addClass("form-control");

    var sampling_depth_slider = $("#sampling-depth-slider .vega-bind");
    $(sampling_depth_slider).find('label').remove();
    $(sampling_depth_slider).find('input').attr('id', 'rangeSlider');
    $(sampling_depth_slider).find('input').attr('oninput', 'updateSliderNum(this.value);');
    $(sampling_depth_slider).prepend("<label> Sampling Depth &nbsp; </label> <br>");
    $(sampling_depth_slider).append('<br> <input id="sliderNum" class="form-control" type="number" value="0" min="0" oninput="updateRangeSliderValue(this.value);" />');
    $(sampling_depth_slider).append('(Zero implies no even sampling.)');
    sampling_depth_slider
      .children(".vega-bind-name")
      .replaceWith("");

    var rotateLabels = $("#rotate-labels .vega-bind");
    rotateLabels
      .children(".vega-bind-name")
      .replaceWith("<label> Rotate Labels &nbsp;</label>");
    rotateLabels.children("checkbox").addClass("form-control");

  });
</script>
{% endblock %}
