{% extends "tab-child.html" %}

{% block head %}
  <script src="js/vega.min.js"></script>
  <script src="js/vega-embed.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/spinkit.css">
{% endblock %}

{% block content %}
    <!-- template it in using jinja -->
    <div id="plot" style="width:600px; height:600px;">
      <div id="loading" class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
    <form id="sliderData">
    <input id="slider1" type="range" min="0" max="10095" value="0">
    <span>0</span>
</form>
<script>
var values = {{ frequencies_list }};
console.log(values);
$('#slider1').mousemove(function() {
    $('span').text(values[this.value]);
});
</script>
{% endblock %}

{% block footer %}
{% include 'js-error-handler.html' %}
<script id="spec" type="application/json">{{ vega_spec }}</script>
<script type="text/javascript">

$(document).ready(function() {
  var spec = JSON.parse(document.getElementById('spec').innerHTML);

  vegaEmbed('#plot', spec).then(function(result) {
        result.view.logLevel(vega.Warn);
        // Stash the view object in global namespace for debugging purposes.
        // Check out https://vega.github.io/vega/docs/api/debugging/
        // for more details.
        window.v = result.view;
      }).catch(function(error) {
        // From 'js-error-handler.html'
        handleErrors([error], $('#plot'));
      });

})

</script>
{% endblock %}
