{% extends "tabbed.html" %} {% block head %}
<script src="js/vega.min.js"></script>
<script src="js/vega-embed.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/spinkit.css" /> {% endblock %}
{% block tabcontent %}

<!-- template it in using jinja -->
<div class="row">
  <div class="col-lg-8">
    <h3>Some Title</h3>

    <div id="plot">
      <div id="loading" class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12"><h3>Plot Controls</h3></div>
    </div>

    <div class="row"><div class="col-lg-12" id="toolbar"></div></div>

    <div class="row">
      <div class="col-lg-12" id="metadata-category">Metadata Category</div>
    </div>

    <div class="row">
      <div class="col-lg-12" id="sampling-depth-slider">
        Sampling Depth Slider
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12" id="rotate-labels">rotate labels</div>
    </div>

    <div class="row"><div class="col-lg-12">Text</div></div>
  </div>

  <div style="height:1000px;"></div>

  <div>
    <!--
      <input id="slider1" type="range" min="0" max="10095" value="0" onchange="foo()">
      <span id="span1">0</span>
    -->
    <script>
      var values = {{ frequencies_list }};
      values.unshift(0);
      console.log(values);

      function foo(){
        console.log(this.value);
        // https://stackoverflow.com/a/19277804/6776349
        var closest = values.reduce(function(prev, curr) {
        return (Math.abs(curr - this.value) < Math.abs(prev - this.value) ? curr : prev);
        });
        this.value = closest;
        console.log(this.value);
      }
    </script>
  </div>
  {% endblock %} {% block footer %} {% include 'js-error-handler.html' %}
  <script id="spec" type="application/json">
    {{ vega_spec }}
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      var spec = JSON.parse(document.getElementById("spec").innerHTML);

      // Try and come up with a good initial estimate of plot dimensions,
      // based on the browser dimensions.
      var opts = {
        width: $('#plot').width(),
        height: $('#plot').width() / 2,
      };

      vegaEmbed("#plot", spec, opts)
        .then(function(result) {
          result.view.logLevel(vega.Warn);
          // Stash the view object in global namespace for debugging purposes.
          // Check out https://vega.github.io/vega/docs/api/debugging/
          // for more details.
          window.v = result.view;
        })
        .catch(function(error) {
          // From 'js-error-handler.html'
          handleErrors([error], $("#plot"));
        });

      // Clean up the vega-embed toolbar
      var toolbar = $("div .vega-actions").detach();
      toolbar.addClass("btn-group");
      toolbar.children("a").each(function() {
        $(this).addClass("btn btn-default");
      });

      toolbar.appendTo("#toolbar");

      var category = $("#metadata-category .vega-bind");
      category.children('.vega-bind-name').replaceWith('<label> Metadata Category &nbsp;</label>');
      category.children('select').addClass('form-control');


    });
  </script>
  {% endblock %}
</div>
