{% extends 'base.html' %}

{% block content %}

<h1>Core features</h1>

<div class='row'>
  <div class='col-md-6'>
    <div class='row'>
      <div class='col-md-12'>
        <h3>Feature table summary</h3>
        Sample count: {{num_samples}}<br>
        Feature count: {{num_features}}
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <img src='core-feature-counts.svg'>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class='row'>
      <div class='col-md-12'>
        <h3>Terminology key</h3>
        <i>Fraction of samples</i>: The fraction of the total number of samples that a feature must be observed in for that feature to be considered "core".<br>
        <i>Feature count</i>: The number of "core" features.<br>
        <i>Fraction of features</i>: The fraction of the total number of features that are "core" features.<br>
        <i>Feature list</i>: The list of "core" feature IDs and their total percentile frequencies.
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        {{table_html}}
      </div>
    </div>
  </div>
</div>

{% endblock %}
